/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root * {
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: #c5e4e7;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

#app,
main {
  height: 100%;
  width: 100%;
}

main {
  box-sizing: border-box;
  padding-top: 50px;
}

h1 {
  width: 87px;
  margin: auto;
}

section.container {
  height: fit-content;
  margin-block-start: 40px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 25px 25px 0px 0px;
}

section.input {
  height: fit-content;
  box-sizing: border-box;
}

h3 {
  margin-block-end: 6px;
  color: #5e7a7d;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

* + h3 {
  margin-block-start: 32px;
}

h2 {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 16px 19px;
  background-color: #f4fafa;
  border: 2px solid #f4fafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 img {
  width: 12px;
  height: auto;
}
h2 input[type=number] {
  width: 80%;
  color: #00494d;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2:has(input[type=number]:focus) {
  border: 2px solid #26c0ab;
}

.button-panel {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
}
.button-panel > * {
  height: 48px;
  width: 147px;
  border-radius: 5px;
  margin: auto;
}
.button-panel button {
  background-color: #00494d;
  color: #ffffff;
  font-size: 24px;
  border: none;
  outline: none;
}
.button-panel button.selected {
  background-color: #26c0ab;
  color: #00494d;
}
.button-panel input[type=number] {
  box-sizing: border-box;
  padding: 10px;
  color: #00494d;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  border: 2px solid #ffffff;
}
.button-panel input[type=number].selected {
  border: 2px solid #26c0ab;
}

input[type=number] {
  text-align: right;
  border: none;
  outline: none;
  background: none;
}

section.output {
  margin-block-start: 32px;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 15px;
  background-color: #00494d;
}
section.output * {
  color: #ffffff;
}
section.output h2 {
  background-color: inherit;
  border: none;
  outline: none;
  color: #26c0ab;
  text-align: right;
  font-size: 32px;
  letter-spacing: -0.667;
}
section.output p {
  color: #7f9b9f;
}
section.output button {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background-color: #26c0ab;
  color: #00494d;
  outline: none;
  border: none;
  font-size: 20px;
}
section.output > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.output > div + div {
  margin-block-start: 24px;
}
section.output > div + button {
  margin-block-start: 36px;
}

@media only screen and (min-width: 768px) {
  main {
    box-sizing: border-box;
    padding: 0 8px;
  }
  section.container {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
  }
  section.container > * {
    margin-block-start: 0px;
    width: 48%;
  }
  .button-panel {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .button-panel button,
  .button-panel input[type=number] {
    width: 100px;
  }
}
@media only screen and (min-width: 1080px) {
  main {
    padding: 0 18vw;
    margin-top: 13vh;
  }
  .button-panel button,
  .button-panel input[type=number] {
    width: 130px;
  }
}

/*# sourceMappingURL=app.css.map */
