@use './reset.scss';
@use './variables.scss' as v;

// Font
:root * {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

// Get rid of number box arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// Firefox
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

// Main styles

body {
    min-height: 100vh;
    width: 100vw;
    background-color: v.$light-grayish-cyan;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
}

#app,
main {
    height: 100%;
    width: 100%;
}

main {
    box-sizing: border-box;
    padding-top: 50px;
}

h1 {
    width: 87px;
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
}

img {
    user-select: none;
    pointer-events: none;
}

section.container {
    height: fit-content;

    margin-block-start: 40px;
    
    background-color: v.$white;

    box-sizing: border-box;
    padding: 32px;

    border-radius: 25px 25px 0px 0px;
}

section.input {
    height: fit-content;
    box-sizing: border-box;
}

h3 {
    margin-block-end: 6px;

    color: v.$dark-grayish-cyan;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

* + h3 {
    margin-block-start: 32px;
}

h2 {
    border-radius: 5px;

    box-sizing: border-box;
    padding: 16px 19px;

    background-color: v.$very-light-grayish-cyan;
    border: 2px solid v.$very-light-grayish-cyan;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 12px;
        height: auto;
    }

    input[type=number] {
        width: 94%;

        color: v.$very-dark-cyan;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

h2:has(input[type=number]:focus) {
    border: 2px solid v.$strong-cyan;
}

.button-panel {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    row-gap: 16px;

    > * {
        height: 48px;
        width: 147px;

        border-radius: 5px;
        margin: auto;
    }

    button {
        background-color: v.$very-dark-cyan;
        color: v.$white;
        font-size: 24px;

        border: none;
        outline: none;
    }

    button.selected {
        background-color: v.$strong-cyan;
        color: v.$very-dark-cyan;
    }

    input[type=number] {
        box-sizing: border-box;
        padding: 10px;

        color: v.$very-dark-cyan;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;

        border: 2px solid v.$white;
    }

    input[type=number].selected {
        border: 2px solid v.$strong-cyan;
    }
}

input[type=number] {
    text-align: right;
    border: none;
    outline: none;
    background: none;
}

section.output {
    margin-block-start: 32px;

    box-sizing: border-box;
    padding: 24px;
    border-radius: 15px;

    background-color: v.$very-dark-cyan;

    * {
        color: v.$white;
    }

    h2 {
        background-color: inherit;
        border: none;
        outline: none;
        color: v.$strong-cyan;
        text-align: right;
        font-size: 32px;
        letter-spacing: -0.667;
    }

    p {
        color: v.$grayish-cyan;
    }

    button {
        width: 100%;
        height: 48px;
        border-radius: 5px;
        background-color: #0D686D;
        color: #00474B;
        outline: none;
        border: none;
        font-size: 20px;
    }

    button.active {
        background-color: v.$strong-cyan;
        color: v.$very-dark-cyan;
    }

    button.active:hover {
        background-color: #9FE8DF;
        color: #00474B;
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    > div + div {
        margin-block-start: 24px;
    }

    > div + button {
        margin-block-start: 36px;
    }
}

@media only screen and (min-width: 768px) {
    main {
        box-sizing: border-box;
        padding: 0 8px;
    }

    section.container {
        display: flex;
        justify-content: space-between;

        border-radius: 25px;

        > * {
            margin-block-start: 0px;
            width: 48%;
        }
    }

    .button-panel {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

        button,
        input[type=number] {
            width: 100px;
        }
    }

    section.output {
        position: relative;
    }

    section.output button {
        position: absolute;
        bottom: 32px;
        width: calc(100% - 48px);
    }
}

@media only screen and (min-width: 1080px) {
    main {
        padding: 0 18vw;
        margin-top: 13vh;
    }

    .button-panel {
        button,
        input[type=number] {
            width: 130px;
        }
    }
}